{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}
<!--<div class="container-md">-->


<!--<form>-->
<!--  <div class="mb-3">-->
<!--    <label for="exampleInputPassword1" class="form-label">Song</label>-->
<!--    <input type="text" class="form-control" id="exampleInputPassword1" name="song">-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-primary">Search</button>-->

<!--</form>-->
<!--</div>-->
<div class="container">
   {{ render_form(form) }}

</div>


{% include "footer.html" %}